<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>Cozmo Explorer Tool</title>

    <link rel="stylesheet" href="/static/css/jquery-ui.css?v={{ randomID }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script type=text/javascript>
        window.COZMO_CONFIG = {
            bootstrapUrl: '/ui-bootstrap',
            engineUrl: '/app/engine.js',
            eventMonitorUrl: '/app/event-monitor.js',
            serverBootId: {{ serverBootId|tojson }},
            assetVersion: {{ randomID|tojson }}
        };
        window.COZMO_UI = {
            hasSocketIO: {{ hasSocketIO|tojson }},
            hasPillow: {{ hasPillow|tojson }},
            hasCamera: {{ hasCamera|tojson }},
            robotConnected: {{ robotConnected|tojson }}
        };
    </script>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/jquery-ui-1.12.1.min.js"></script>
    <script src="/static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="/app/event-monitor.js?boot={{ serverBootId }}"></script>
    <script src="/app/engine.js?boot={{ serverBootId }}"></script>
    <link rel="stylesheet" href="/static/css/cozmo_animation_list.css?v={{ randomID }}">
</head>

<body>
    <div id="header">
        <div class="contentarea">
            <div id="cozmo-container">
                <img src="/static/img/cozmo_blank.svg" id="c-blank" class="cozmo">
                <img src="/static/img/cozmo_eyes.svg" id="c-eyes" class="cozmo">
                <img src="/static/img/cozmo_playing.svg" id="c-play" class="cozmo">
            </div>
            <div class="v-align">
                <img src="/static/img/cozmo-logo.svg" class="logo" height="30" width="147">
            </div>
            <span>Explorer<br/>Tool<i class="fa fa-search"></i></span>
            <div class="hermit">created by <br/><a href="https://forums.anki.com/users/grinninghermit/summary">GrinningHermit</a></div>
        </div>
    </div>
    <div id="content">
        <div id="column-2">
            <div id="viewer" class="viewer-height">
                <div id="viewer-content">
                    <div id="viewer-bg" class="black-bg"></div>
                    <img src="/cozmoImage" id="cozmoImageId">
                    <div id="controls">
                        <div id="button-bg" class="black-bg"></div>
                        <i id="controls-info-btn" class="info-btn fa fa-align-left"></i>
                        <div id="keyboard-layout-toggle" class="keyboard-layout-btn" title="Switch keyboard layout (QWERTY / AZERTY)">QWERTY</div>
                        <i id="controls-fullscr-btn" class="info-btn fa fa-expand"></i>
                        <div id="controls-content"></div>
                    </div>
                </div>
            </div>
            <div id="event-monitor">
                <div id="event-header" class="window-header">
                    <b><i class="accordeon-icon fa fa-caret-square-o-up"></i><span class="indented">Event monitor</span></b>
                </div>
                <ul id="event-content"></ul>
            </div>
        </div>
        <div id="tabs">
            <ul id="tabs-list" class="tabs-list">
                <li><a href="#fragment-0"><span>Animations</span></a></li>
                <li><a href="#fragment-1"><span>Triggers</span></a></li>
                <li><a href="#fragment-2" ><span>Behaviors</span></a></li>
                <span id="pose-btn">
                    <i id="pose-btn-icon" class="fa fa-reply"></i>
                </span>
                <div id="pose-tt" class="tooltip">Return to pose after animation</div>
            </ul>
            <div id="fragment-0" class="flex-cstm"></div>
            <div id="fragment-1" class="flex-cstm"></div>
            <div id="fragment-2" class="flex-cstm"></div>
        </div>
    </div>
</body>

</html>
